<div class="container">
    <div class="row">
        <div class="col-8 py-3">
            <div class="m-3">
                <form>
                    <div class="form-group form-inline">
                        Buscar capitulo:
                        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm" />
                    </div>
                </form>
                <table class="table table-striped" *ngIf="data.episode.length > 0">
                    <thead>
                        <tr>
                            <th scope="col" sortable="name">Capitulos: {{data.episode.length}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chapter of data.episode | filter: searchTerm">
                            <td>{{ chapter }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>