<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock shadow-lg rounded">
            <h3>Sign Up</h3>
            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #userEmail required />
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPwd required />
            </div>
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)" />
            </div>
        </div>
        <div class="blueAdvice">
            <span class="redirect" routerLink="/sign-in">Already have an account? Log In </span>
        </div>
    </div>
</div>