<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock shadow-lg rounded">
            <h3>Sign In</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Username" #userName required>
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPassword required>
            </div>
            <!-- Calling SignIn Api from AuthService -->
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>
            <div class="blueAdvice">
                <span routerLink="/forgot-password">Forgot Password?</span>
            </div>
        </div>
        <div class="blueAdvice">
            <span class="redirect" routerLink="/register-user"> Don't have an account?  Sign Up</span>
        </div>
    </div>

</div>