<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <ng-container *ngFor="let item of breadcrumb;  last as isLast; index as index;">
            <li class="breadcrumb-item " [ngClass]="{'active': isLast === true}" aria-current="page">
                <a routerLink="/{{index === 0 ? item : bredcrumFn()}}" *ngIf="!isLast">{{item}}</a>
                <ng-container *ngIf="isLast">{{item}}</ng-container>
            </li>
        </ng-container>
    </ol>
</nav>