<div class="container">
    <div class="row" *ngIf="data.length> 0">
        <div class="col-4 py-3" *ngFor="let character of data">
            <div class="card shadow">
                <img [src]="character['image']" class="card-img-top" alt="{{character['name']}}">
                <div class="card-body">
                    <h5 class="card-title">{{character['name']}}</h5>
                    <p class="card-text">{{character['gender']}}</p>
                    <a routerLink="{{character['id']}}">Capitulos</a>
                </div>
            </div>
        </div>
    </div>
</div>